In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## CONTROLLO NAN TABELLA atp_amateurs_matches.parquet

In [2]:
path="atp_amateurs_matches.parquet"
df=pd.read_parquet(path)

In [3]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1877-540,Wimbledon,Grass,32,G,1877-07-09,1,113987,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1877-540,Wimbledon,Grass,32,G,1877-07-09,2,114146,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1877-540,Wimbledon,Grass,32,G,1877-07-09,3,114147,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1877-540,Wimbledon,Grass,32,G,1877-07-09,4,114149,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1877-540,Wimbledon,Grass,32,G,1877-07-09,5,113953,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24996,1967-D047,Davis Cup EUR R1: NED vs RSA,Clay,4,D,1967-05-04,5,100084,None,None,...,None,None,None,None,None,None,None,None,None,None
24997,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,1,106910,None,None,...,None,None,None,None,None,None,None,None,None,None
24998,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,2,112556,None,None,...,None,None,None,None,None,None,None,None,None,None
24999,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,4,125731,None,None,...,None,None,None,None,None,None,None,None,None,None
25000,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,5,106910,None,None,...,None,None,None,None,None,None,None,None,None,None

-------------------------------------------------------------------------------------------------------------------------

In [4]:
df["tourney_id"].value_counts(dropna=False)

tourney_id
1911-560     201
1910-560     181
1909-560     164
1912-560     158
1913-560     147
            ...
1927-D022      2
1913-D004      2
1962-D008      2
1965-D011      2
1964-D040      2
Name: count, Length: 1482, dtype: int64

In [5]:
df['tourney_id'].isna().sum()

0

---------------------------------------

In [6]:
df['tourney_name'].value_counts(dropna=False)

tourney_name
US Open                         7824
Wimbledon                       7238
Roland Garros                   3390
Australian Open                 1749
Davis Cup WG CR: USA vs AUS       44
                                ...
Davis Cup WG QF: FRA vs USA        2
Davis Cup EUR R1: IRL vs DEN       2
Davis Cup EUR QF: NED vs AUT       2
Davis Cup EUR R2: NOR vs POL       2
Davis Cup EUR R2: AUT vs IND       2
Name: count, Length: 971, dtype: int64

In [7]:
df["tourney_name"].isna().sum()

0

---------------

In [8]:
df["surface"].value_counts(dropna=False)

surface
Grass    17733
Clay      5566
None      1639
Hard        63
Name: count, dtype: int64

In [9]:
df["surface"].isna().sum()

1639

In [10]:
# circa il 6,5% della colonna surface è composto da valori nan

-------------

In [11]:
df["draw_size"].value_counts(dropna=False)

draw_size
128    14455
4       4800
64      2836
R       1582
32      1247
16        81
Name: count, dtype: int64

In [12]:
df["draw_size"].isna().sum()

0

In [13]:
#nella colonna draw_size non sono presenti valori nan ma ho notato che è presente uno strano valore "R"

-------------------------

In [14]:
df["tourney_level"].value_counts(dropna=False)

tourney_level
G    20201
D     4800
Name: count, dtype: int64

In [15]:
# non faccio il controllo con .isna().sum() dal momento che ad occhio è possibile notare l'assenza di valori nan ma (considerazione personale) mi incuriosisce solo la presenza di due sole variabili

------------------

In [16]:
df['tourney_date'].value_counts(dropna=False)

tourney_date
1911-08-01    201
1910-08-01    181
1909-08-01    164
1912-08-01    158
1913-08-01    147
             ...
1927-07-21      2
1926-05-24      2
1928-04-30      2
1900-08-08      2
1913-07-17      2
Name: count, Length: 1004, dtype: int64

In [17]:
df['tourney_date'].isna().sum()

0

------------------

In [18]:
df['match_num'].value_counts(dropna=False)

match_num
1      1482
2      1482
4      1457
5      1419
3       260
       ...
185       1
184       1
183       1
182       1
201       1
Name: count, Length: 201, dtype: int64

In [19]:
df['match_num'].isna().sum()

0

----------------

In [20]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [21]:
df["winner_id"].value_counts(dropna=False)

winner_id
100022    198
109816    153
100012    151
112007    143
112823    140
         ...
115581      1
114300      1
115727      1
115927      1
111014      1
Name: count, Length: 3329, dtype: int64

In [22]:
df["winner_id"].isna().sum()

0

---------------

In [23]:
df['winner_seed'].value_counts(dropna=False)

winner_seed
None    25001
Name: count, dtype: int64

In [24]:
#non mi preoccupo per l'elevata quantità di valori nan in quanto si riferisce a partite avvenute molti anni fa e di conseguenza è normale un'assenza di dati
#in futuro se dovessi trovare collonne che presentanno la stessa situazione senza un mio eventuale commento è perche condivide le stesse motivazioni sopraelencate

-------------------

In [25]:
df['winner_entry'].value_counts(dropna=False)

winner_entry
None    25001
Name: count, dtype: int64

---------

In [26]:
df['winner_name'].value_counts(dropna=False)

winner_name
Roy Emerson            198
E Victor Seixas        153
Nicola Pietrangeli     151
Jack Crawford          143
Bill Tilden Ii         140
                      ...
Maurice Ferrier          1
R Jagmohan               1
Wen Kelly                1
Y Das De Kapurthala      1
Andres Vatrican          1
Name: count, Length: 3268, dtype: int64

In [27]:
df['winner_name'].isna().sum()

0

------------------

In [28]:
df['winner_hand'].value_counts(dropna=False)

winner_hand
None    19362
R        4392
L         789
U         458
Name: count, dtype: int64

In [29]:
df['winner_hand'].isna().sum()

19362

In [30]:
#la colonna "winner_hand" è composta dal 77%di valori nan ma non mi sembra il caso di droppare o andare a modificare la colonna
#comunque nel caso in cui riteniate il caso di apportare delle modifiche effetuatele pure

----------------------------

In [31]:
df['winner_ht'].value_counts(dropna=False)

winner_ht
None    23109
185       450
183       357
188       332
190       248
175       180
173       162
178        80
180        65
193        10
170         5
196         3
Name: count, dtype: int64

In [32]:
df.shape

(25001, 49)

In [33]:
#la colonna "winner_ht" è formata dal 92% di valori nan

-------------

In [34]:
df['winner_ioc'].value_counts(dropna=False)

winner_ioc
USA    8119
GBR    3561
AUS    3305
FRA    1747
RSA     691
       ...
BRI       2
CRC       2
GUA       1
PAR       1
HAW       1
Name: count, Length: 82, dtype: int64

In [35]:
df['winner_ioc'].isna().sum()

0

-------------

In [36]:
df['winner_age'].value_counts(dropna=False)

winner_age
NaN          6539
23.876797      22
21.453799      21
22.562628      19
25.744011      19
             ...
38.480493       1
25.927447       1
41.719370       1
15.572895       1
46.461328       1
Name: count, Length: 5214, dtype: int64

In [37]:
# winner_age_prova=df["winner_age"]
# winner_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in winner_age_prova
# ]
# winner_age_prova

In [38]:
# df["winner_age"]=winner_age_prova
# df["winner_age"].value_counts(dropna=False)

In [39]:
#la colonna winner_age è composta dal 26% di valori nan

----------

In [40]:
df['loser_id'].value_counts(dropna=False)

loser_id
100011    63
100012    57
112631    56
109816    51
112007    50
          ..
111876     1
111884     1
111868     1
113726     1
110439     1
Name: count, Length: 6014, dtype: int64

In [41]:
df['loser_id'].isna().sum()

0

--------------

In [42]:
df['loser_seed'].value_counts(dropna=False)

loser_seed
None    25001
Name: count, dtype: int64

---------------------

In [43]:
df['loser_entry'].value_counts(dropna=False)

loser_entry
None    25001
Name: count, dtype: int64

---------

In [44]:
df['loser_name'].value_counts(dropna=False)

loser_name
Torben Ulrich         63
Nicola Pietrangeli    57
Jackie Brichant       56
E Victor Seixas       51
Jack Crawford         50
                      ..
Dd Morgan              1
Eh Diepholz            1
Malcolm D Maclagan     1
W Dermot Muspratt      1
Beyazit Anbar          1
Name: count, Length: 5877, dtype: int64

In [45]:
df['loser_name'].isna().sum()

0

------------

In [46]:
df['loser_hand'].value_counts(dropna=False)

loser_hand
None    20807
R        2849
U         916
L         429
Name: count, dtype: int64

----------

In [47]:
df['loser_ht'].value_counts(dropna=False)

loser_ht
NaN      23985
185.0      218
188.0      201
183.0      167
190.0      111
173.0       96
175.0       75
178.0       70
180.0       55
193.0       10
170.0        7
196.0        6
Name: count, dtype: int64

In [48]:
#la colonna loser_ht è formata del 95% di valori nan

-----------

In [49]:
df['loser_ioc'].value_counts(dropna=False)

loser_ioc
USA    7611
GBR    4028
AUS    2403
FRA    1671
RSA     559
       ...
KEN       2
BER       2
UAE       2
NIG       1
DOM       1
Name: count, Length: 87, dtype: int64

In [50]:
df['loser_ioc'].isna().sum()

0

----------

In [51]:
df['loser_age'].value_counts(dropna=False)

loser_age
NaN          12538
21.659138       10
29.412731        9
25.823409        9
23.660507        9
             ...
25.538672        1
27.958932        1
33.147159        1
37.902806        1
23.195072        1
Name: count, Length: 6271, dtype: int64

In [52]:
# loser_age_prova=df["loser_age"]
# loser_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in loser_age_prova
# ]
# loser_age_prova

In [53]:
# df["loser_age"]=loser_age_prova
# df["loser_age"].value_counts(dropna=False)

In [54]:
#la colonna loser_age è composta per il 50% di valori NaN

----------------

In [55]:
df['score'].value_counts(dropna=False)

score
W/O                     1369
6-2 6-2 6-2              153
6-1 6-2 6-2              143
6-2 6-2 6-1              142
6-1 6-1 6-2              134
                        ...
3-6 6-0 2-6 6-1 8-6        1
7-5 4-6 3-6 6-4 6-4        1
8-6 8-10 2-6 7-5 6-1       1
2-6 6-4 6-1 5-7 6-1        1
12-10 9-7 6-1              1
Name: count, Length: 8550, dtype: int64

In [56]:
df['score'].isna().sum()

35

In [57]:
#la colonna score è composto dallo 0,14% di valori nan

--------

In [58]:
df['best_of'].value_counts(dropna=False)

best_of
5    24992
3        9
Name: count, dtype: int64

In [59]:
#posso già notare tramite il .value_counts() che nella colonna best_of non sono presenti valori NaN ma c'è un notevole sbilanciamento tra i due valori

-------

In [60]:
df['round'].value_counts(dropna=False)

round
R128    6571
R64     5646
RR      4800
R32     3809
R16     2029
QF      1028
SF       514
PR       278
F        259
CR        67
Name: count, dtype: int64

----------

In [61]:
df['minutes'].value_counts(dropna=False)

minutes
None    25001
Name: count, dtype: int64

--------

In [62]:
df['w_ace'].value_counts(dropna=False)

w_ace
None    25001
Name: count, dtype: int64

-----------

In [63]:
df['w_df'].value_counts(dropna=False)

w_df
None    25001
Name: count, dtype: int64

-------------

In [64]:
df['w_svpt'].value_counts(dropna=False)

w_svpt
None    25001
Name: count, dtype: int64

-------

In [65]:
df['w_1stIn'].value_counts(dropna=False)

w_1stIn
None    25001
Name: count, dtype: int64

--------

In [66]:
df['w_1stWon'].value_counts(dropna=False)

w_1stWon
None    25001
Name: count, dtype: int64

-----------

In [67]:
df['w_2ndWon'].value_counts(dropna=False)

w_2ndWon
None    25001
Name: count, dtype: int64

------

In [68]:
df['w_SvGms'].value_counts(dropna=False)

w_SvGms
None    25001
Name: count, dtype: int64

------

In [69]:
df['w_bpSaved'].value_counts(dropna=False)

w_bpSaved
None    25001
Name: count, dtype: int64

------

In [70]:
df['w_bpFaced'].value_counts(dropna=False)

w_bpFaced
None    25001
Name: count, dtype: int64

-----------

In [71]:
df['l_ace'].value_counts(dropna=False)

l_ace
None    25001
Name: count, dtype: int64

-----------

In [72]:
df['l_df'].value_counts(dropna=False)

l_df
None    25001
Name: count, dtype: int64

-----------

In [73]:
df['l_svpt'].value_counts(dropna=False)

l_svpt
None    25001
Name: count, dtype: int64

--------

In [74]:
df['l_1stIn'].value_counts(dropna=False)

l_1stIn
None    25001
Name: count, dtype: int64

---------

In [75]:
df['l_1stWon'].value_counts(dropna=False)

l_1stWon
None    25001
Name: count, dtype: int64

-------

In [76]:
df['l_2ndWon'].value_counts(dropna=False)

l_2ndWon
None    25001
Name: count, dtype: int64

------

In [77]:
df['l_SvGms'].value_counts(dropna=False)

l_SvGms
None    25001
Name: count, dtype: int64

-----------

In [78]:
df['l_bpSaved'].value_counts(dropna=False)

l_bpSaved
None    25001
Name: count, dtype: int64

-----------

In [79]:
df['l_bpFaced'].value_counts(dropna=False)

l_bpFaced
None    25001
Name: count, dtype: int64

-------

In [80]:
df['l_bpFaced'].value_counts(dropna=False)

l_bpFaced
None    25001
Name: count, dtype: int64

-------

In [81]:
df[ 'winner_rank'].value_counts(dropna=False)

winner_rank
None    25001
Name: count, dtype: int64

----------

In [82]:
df['winner_rank_points'].value_counts(dropna=False)

winner_rank_points
None    25001
Name: count, dtype: int64

----------

In [83]:
df['loser_rank'].value_counts(dropna=False)

loser_rank
None    25001
Name: count, dtype: int64

--------

In [84]:
df['loser_rank_points'].value_counts(dropna=False)

loser_rank_points
None    25001
Name: count, dtype: int64

## CONTROLLO NAN TABELLA atp_rankings.parquet

In [85]:
path2="atp_rankings.parquet"
df2=pd.read_parquet(path2)
df2

        ranking_date  rank  player  points
0         1973-08-27   129  100005     NaN
1         1973-08-27   114  100011     NaN
2         1973-08-27     6  100016     NaN
3         1973-08-27    19  100022     NaN
4         1973-08-27    82  100025     NaN
...              ...   ...     ...     ...
3235634   2024-05-27  2070  211388     1.0
3235635   2024-05-27  2071  210649     1.0
3235636   2024-05-27  2071  208890     1.0
3235637   2024-05-27  2073  202079     1.0
3235638   2024-05-27  2073  207982     1.0

[3235639 rows x 4 columns]

In [86]:
df2['ranking_date'].value_counts(dropna=False)

ranking_date
2015-06-29    2271
2016-03-21    2262
2016-03-07    2261
2016-02-22    2261
2015-08-31    2259
              ...
1975-06-30      96
1977-10-03      96
1980-01-07      92
1979-04-16      78
1982-11-29      50
Name: count, Length: 2247, dtype: int64

In [87]:
df2['ranking_date'].isna().sum()

0

--------

In [88]:
df2['rank'].value_counts(dropna=False)

rank
1331    5037
1304    4167
1332    3959
1298    3936
1306    3263
        ...
2261       2
2260       2
2267       2
2262       1
2271       1
Name: count, Length: 2266, dtype: int64

In [89]:
df2['rank'].isna().sum()

0

-----------

In [90]:
df2['player'].value_counts(dropna=False)

player
103852    1331
102863    1265
103333    1231
103009    1217
103819    1203
          ...
108146       1
108153       1
108168       1
108187       1
212710       1
Name: count, Length: 16174, dtype: int64

In [91]:
df2['player'].isna().sum()

0

---------

In [92]:
df2['points'].value_counts(dropna=False)

points
1.0        509799
NaN        376080
2.0        233663
3.0        156409
4.0        122450
            ...
6025.0          1
14265.0         1
8065.0          1
5575.0          1
9960.0          1
Name: count, Length: 4532, dtype: int64

In [93]:
df2['points'].isna().sum()

376080

In [94]:
#La colonna pointsè formata dal 11% di valori NaN

## CONTROLLO NAN TABELLA doubles_matches.parquet

In [95]:
path3="doubles_matches.parquet"

In [96]:
df3=pd.read_parquet(path3)
df3

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner1_id,winner2_id,winner_seed,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2000-301,Auckland,Hard,32.0,A,2000-01-10,300,101704,101097,1,...,None,None,None,None,None,None,None,None,None,None
1,2000-301,Auckland,Hard,32.0,A,2000-01-10,299,101704,101097,1,...,None,None,None,None,None,None,None,None,None,None
2,2000-301,Auckland,Hard,32.0,A,2000-01-10,298,101358,101543,2,...,None,None,None,None,None,None,None,None,None,None
3,2000-301,Auckland,Hard,32.0,A,2000-01-10,297,101704,101097,1,...,None,None,None,None,None,None,None,None,None,None
4,2000-301,Auckland,Hard,32.0,A,2000-01-10,296,101358,101543,2,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26394,2020-M-DC-2020-WG2-PO-MAR-VIE-01,Davis Cup WG2 PO: MAR vs VIE,Clay,4.0,D,2020-03-06,3,104917,104467,None,...,None,None,None,None,None,None,None,None,None,None
26395,2020-M-DC-2020-WG2-PO-PAR-SRI-01,Davis Cup WG2 PO: PAR vs SRI,Clay,4.0,D,2020-03-06,3,134677,137018,None,...,None,None,None,None,None,None,None,None,None,None
26396,2020-M-DC-2020-WG2-PO-PHI-GRE-01,Davis Cup WG2 PO: PHI vs GRE,Clay,4.0,D,2020-03-06,3,108717,104604,None,...,None,None,None,None,None,None,None,None,None,None
26397,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,4.0,D,2020-03-06,3,126166,126591,None,...,None,None,None,None,None,None,None,None,None,None
26398,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4.0,D,2020-03-06,3,111761,144747,None,...,None,None,None,None,None,None,None,None,None,None

---------------

In [97]:
df3['tourney_id'].value_counts(dropna=False)

tourney_id
2007-540                            75
2015-540                            75
2009-540                            75
2014-540                            75
2008-540                            75
                                    ..
2020-M-DC-2020-QLS-M-BEL-HUN-01      1
2020-M-DC-2020-QLS-M-AUT-URU-01      1
2020-M-DC-2020-QLS-M-AUS-BRA-01      1
2020-M-DC-2020-QLS-M-ARG-COL-01      1
2020-M-DC-2020-WG2-PO-SYR-ZIM-01     1
Name: count, Length: 1355, dtype: int64

In [98]:
df3['tourney_id'].isna().sum()

0

----------------

In [99]:
df3['tourney_name'].value_counts(dropna=False)

tourney_name
Wimbledon                       1370
Australian Open                 1260
Roland Garros                   1260
US Open                         1133
Miami Masters                    668
                                ...
Davis Cup QLS R1: BEL vs HUN       1
Davis Cup QLS R1: AUT vs URU       1
Davis Cup QLS R1: AUS vs BRA       1
Davis Cup QLS R1: ARG vs COL       1
Davis Cup WG2 PO: SYR vs ZIM       1
Name: count, Length: 166, dtype: int64

In [100]:
df3['tourney_name'].isna().sum()

0

---------------------

In [101]:
df3['surface'].value_counts(dropna=False)

surface
Hard      14092
Clay       8590
Grass      3183
Carpet      534
Name: count, dtype: int64

-------------

In [102]:
df['draw_size'].value_counts(dropna=False)

draw_size
128    14455
4       4800
64      2836
R       1582
32      1247
16        81
Name: count, dtype: int64

In [103]:
df['draw_size'].isna().sum()

0

---------------

In [104]:
df3['tourney_level'].value_counts(dropna=False)

tourney_level
A    16383
G     5148
M     4612
F      223
D       33
Name: count, dtype: int64

-------------

In [105]:
df3['tourney_date'].value_counts(dropna=False)

tourney_date
2014-06-23    75
2007-06-25    75
2013-06-24    75
2008-06-23    75
2016-06-27    75
              ..
2007-06-17    15
2010-05-02    15
2000-05-21    13
2018-11-12    13
2017-11-13    11
Name: count, Length: 771, dtype: int64

In [106]:
df['tourney_date'].isna().sum()

0

---------

In [107]:
df3['match_num'].value_counts(dropna=False)

match_num
300    1057
299    1057
298    1057
297    1057
296    1057
       ...
304       1
303       1
302       1
301       1
307       1
Name: count, Length: 255, dtype: int64

In [108]:
df3['match_num'].isna().sum()

0

--------

In [109]:
df3['winner1_id'].value_counts(dropna=False)

winner1_id
103184    1066
102405     507
101956     407
102035     405
102886     394
          ...
104594       1
104361       1
103225       1
102021       1
111761       1
Name: count, Length: 870, dtype: int64

In [110]:
df3['winner1_id'].isna().sum()

0

------------------------

In [111]:
df3["winner2_id"].value_counts(dropna=False)

winner2_id
103185    1070
102800     674
102110     519
103946     440
103018     438
          ...
104230       1
104695       1
104203       1
104598       1
144747       1
Name: count, Length: 852, dtype: int64

In [112]:
df3["winner2_id"].isna().sum()

0

---------

In [113]:
df3['winner_seed'].value_counts(dropna=False)

winner_seed
None    14787
1        2661
2        2317
3        1944
4        1797
5         531
6         510
7         430
8         422
9         153
11        145
12        134
14        120
15        116
10        114
13        108
16        105
17          5
Name: count, dtype: int64

In [114]:
#la colonna winner_seed è composta dal 56% da valori nan

---------------

In [115]:
df3['winner_entry'].value_counts(dropna=False)

winner_entry
None     24287
WC        1599
AL         202
PR         131
S           79
LL          49
Alt         38
4 WC         4
1 AL         4
4 Q          2
2 PR         2
2 AL         1
10 WC        1
Name: count, dtype: int64

In [116]:
#la colonna winner_entry è composta dal 91% da valori nan

------------

In [117]:
df3['loser1_id'].value_counts(dropna=False)

loser1_id
103184    318
103586    301
102886    300
102405    293
102388    283
         ...
101414      1
102411      1
103751      1
102136      1
200153      1
Name: count, Length: 1330, dtype: int64

In [118]:
df3['loser1_id'].isna().sum()

0

----------------

In [119]:
df3['loser2_id'].value_counts(dropna=False)

loser2_id
102800    392
103185    318
103690    309
104486    250
103946    250
         ...
104970      1
103136      1
105953      1
110462      1
208518      1
Name: count, Length: 1332, dtype: int64

In [120]:
df3['loser2_id'].isna().sum()

6

In [121]:
#la colonna 'loser2_id' è formata dallo 0,02% da valori nan

------------

In [122]:
df3[ 'loser_seed'].value_counts(dropna=False)

loser_seed
None    19900
4        1196
3        1168
2        1156
1        1052
8         322
5         321
7         321
6         315
15         82
13         82
9          82
16         81
10         80
11         80
14         79
12         79
17          3
Name: count, dtype: int64

In [123]:
#la colonna loser_seed è composta dal 75% da valori nan

-------------

In [124]:
df3['loser_entry'].value_counts(dropna=False)

loser_entry
None     22394
WC        3086
AL         425
PR         153
S          134
LL         100
Alt         96
1 AL         2
3 AL         1
10 WC        1
11 WC        1
2 WC         1
2 AL         1
1 WC         1
4 AL         1
4 Q          1
I            1
Name: count, dtype: int64

In [125]:
#la colonna loser_entry è composta dal 84% di valori nan

------------

In [126]:
df3['score'].value_counts(dropna=False)

score
6-3 6-4                1274
6-4 6-4                1109
6-3 6-2                 678
None                    611
6-4 6-3                 579
                       ...
6-4 6-4 5-7 6-7 1-6       1
7-6 7-6 6-7 5-7 7-5       1
4-6 6-3 6-4 6-7 8-6       1
7-6 6-4 3-6 4-6 6-2       1
6-3 6-7(6) 6-3            1
Name: count, Length: 3594, dtype: int64

In [127]:
#la colonna score è composta dal 2,3% di valori nan

------------

In [128]:
df3['best_of'].value_counts(dropna=False)

best_of
3    25902
5      497
Name: count, dtype: int64

----------

In [129]:
df3['round'].value_counts(dropna=False)

round
R16     9251
QF      5196
R32     4449
R64     2860
SF      2617
F       1321
RR       375
Q1       174
Q2        87
R128      64
BR         5
Name: count, dtype: int64

---------------

In [130]:
df3['winner1_name'].value_counts(dropna=False)

winner1_name
Bob Bryan            1066
Mahesh Bhupathi       507
Mark Knowles          407
Jonas Bjorkman        405
Frantisek Cermak      394
                     ...
Marinko Matosevic       1
Michel Koning           1
Simon Larose            1
Michael Chang           1
Benjamin Lock           1
Name: count, Length: 870, dtype: int64

In [131]:
df3['winner1_name'].isna().sum()

0

-------

In [132]:
df3['winner1_hand'].value_counts(dropna=False)

winner1_hand
R    20885
L     5416
U       98
Name: count, dtype: int64

-----------------------

In [133]:
df3['winner1_ht'].value_counts(dropna=False)

winner1_ht
190.0    4942
188.0    3283
185.0    3263
183.0    3209
193.0    2605
NaN      2575
180.0    2285
178.0    1222
196.0     854
175.0     685
173.0     477
203.0     255
170.0     241
198.0     220
206.0      93
201.0      89
208.0      55
181.0      14
168.0      13
163.0       9
172.0       9
194.0       1
Name: count, dtype: int64

In [134]:
#la colonna winner1_ht è composta per il 9,7% da valori nan

---------------------

In [135]:
df3['winner1_ioc'].value_counts(dropna=False)

winner1_ioc
USA    3267
CZE    1784
FRA    1552
ESP    1503
AUS    1466
       ...
KUW       1
VIE       1
NOR       1
EST       1
INA       1
Name: count, Length: 80, dtype: int64

In [136]:
df3['winner1_ioc'].isna().sum()

0

-----------

In [137]:
df3['winner1_age'].value_counts(dropna=False)

winner1_age
29.155373    26
26.392882    26
30.726899    22
28.662560    21
28.988364    20
             ..
37.930185     1
33.722108     1
28.136893     1
35.277207     1
23.887748     1
Name: count, Length: 5895, dtype: int64

In [138]:
df3['winner1_age'].isna().sum()

5

In [139]:
# winner1_age_prova=df3['winner1_age']
# winner1_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in winner1_age_prova
# ]
# winner1_age_prova

In [140]:
# df3['winner1_age']=winner1_age_prova
# df3['winner1_age'].value_counts(dropna=False)

In [141]:
# la colonna 'winner1_age' è composta dallo 0,01% da valori nan

-------------------------

In [142]:
df3['winner2_name'].value_counts(dropna=False)

winner2_name
Mike Bryan            1070
Nenad Zimonjic         674
Daniel Nestor          519
Bruno Soares           440
Max Mirnyi             438
                      ...
Daniel Koellerer         1
Fritz Wolmarans          1
Darko Madjarovski        1
David Savic              1
Courtney John Lock       1
Name: count, Length: 852, dtype: int64

In [143]:
df3['winner2_name'].isna().sum()

0

-----------------

In [144]:
df3['winner2_hand'].value_counts(dropna=False)

winner2_hand
R    22465
L     3724
U      210
Name: count, dtype: int64

---------------

In [145]:
df3['winner2_ht'].value_counts(dropna=False)

winner2_ht
190.0    4644
183.0    3094
NaN      3074
185.0    2875
180.0    2752
188.0    2709
193.0    2178
178.0    2067
196.0    1065
175.0     730
203.0     461
198.0     313
173.0     178
168.0      74
170.0      63
201.0      40
208.0      33
206.0      22
194.0      16
181.0       4
163.0       4
172.0       3
Name: count, dtype: int64

In [146]:
#la colonna winner2_ht è composta dal 11% di valori nan

--------------

In [147]:
df3['winner2_ioc'].value_counts(dropna=False)

winner2_ioc
USA    3430
AUS    1844
CZE    1719
ESP    1477
FRA    1441
       ...
LIB       1
EST       1
LVA       1
ALG       1
PAR       1
Name: count, Length: 75, dtype: int64

In [148]:
df3['winner2_ioc'].isna().sum()

0

-------------

In [149]:
df3['winner2_age'].value_counts(dropna=False)

winner2_age
30.324435    26
30.822724    23
31.244353    23
28.607803    22
32.240931    21
             ..
36.547570     1
34.447639     1
23.337440     1
29.453799     1
23.370294     1
Name: count, Length: 5837, dtype: int64

In [150]:
df3['winner2_age'].isna().sum()

0

In [151]:
# winner2_age_prova=df3['winner2_age']
# winner2_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in winner2_age_prova
# ]
# winner2_age_prova

In [152]:
# df3['winner2_age']=winner2_age_prova
# df3['winner2_age'].value_counts(dropna=False)

---------------

In [153]:
df3['loser1_name'].value_counts(dropna=False)

loser1_name
Bob Bryan              318
Mariusz Fyrstenberg    301
Frantisek Cermak       300
Mahesh Bhupathi        293
Simon Aspelin          283
                      ...
Farrukh Dustov           1
Didac Perez              1
Johan Settergren         1
Sanam Singh              1
Yacoub Makzoume          1
Name: count, Length: 1326, dtype: int64

In [154]:
df3['loser1_name'].isna().sum()

5

In [155]:
# la colonna 'loser1_name' è composta dallo 0,01% da valori nan

------------

In [156]:
df3['loser1_hand'].value_counts(dropna=False)

loser1_hand
R       21586
L        4497
U         308
None        8
Name: count, dtype: int64

In [157]:
#la colonna 'loser1_hand' è composta dallo 0,03% da valori nan

-----------

In [159]:
df3['loser1_ht'].value_counts(dropna=False)

loser1_ht
190.0    3848
188.0    3378
NaN      3375
185.0    3308
183.0    3245
180.0    2616
193.0    1922
178.0    1479
175.0     848
196.0     802
173.0     559
198.0     255
203.0     229
170.0     192
201.0      85
206.0      84
208.0      65
181.0      34
168.0      23
172.0      20
163.0      16
194.0      14
0.0         1
191.0       1
Name: count, dtype: int64

In [161]:
df3['loser1_ht'].isna().sum()

3375

In [164]:
#la colonna loser1_htè composta dal 12% di valori nan

--------------

In [166]:
df3['loser1_ioc'].value_counts(dropna=False)

loser1_ioc
USA    2791
ESP    1842
CZE    1651
ARG    1580
FRA    1551
       ...
LIB       1
GUA       1
KEN       1
SRI       1
SYR       1
Name: count, Length: 90, dtype: int64

In [167]:
df3['loser1_ioc'].isna().sum()

5

In [ ]:
# la colonna 'loser1_name' è composta dallo 0,01% da valori nan

----------

In [168]:
df3['loser1_age'].value_counts(dropna=False)

loser1_age
28.873374    18
NaN          18
28.930869    17
28.988364    16
28.662560    15
             ..
17.618070     1
32.843258     1
35.570157     1
18.488706     1
37.497604     1
Name: count, Length: 7224, dtype: int64

In [171]:
df3['loser1_age'].isna().sum()

18

In [ ]:
# loser1_age_prova=df3['loser1_age']
# loser1_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in loser1_age_prova
# ]
# loser1_age_prova

In [ ]:
# df3['loser1_age']=loser1_age_prova
# df3['loser1_age'].value_counts(dropna=False)

In [ ]:
#la colonna loser1_age è composta dal 0,06% da valori nan

----------

In [170]:
df3['loser2_name'].value_counts(dropna=False)

loser2_name
Nenad Zimonjic      392
Mike Bryan          318
Marcin Matkowski    309
Horia Tecau         250
Bruno Soares        250
                   ...
Dane Propoggia        1
Manuel Jorquera       1
Nader Mohammed        1
Pedro Zerbini         1
Hazem Naw             1
Name: count, Length: 1326, dtype: int64

In [174]:
df3['loser2_name'].isna().sum()

12

In [177]:
#la colonna loser2_name' è composta dal 0,04% di valori nan

-------------

In [178]:
df3['loser2_hand'].value_counts(dropna=False)

loser2_hand
R       22384
L        3616
U         386
None       13
Name: count, dtype: int64

In [179]:
df3['loser2_hand'].isna().sum()

13

In [182]:
#la colonna loser2_hand è composta dal 0,05% di valori nan

-----

In [183]:
df3['loser2_ht'].value_counts(dropna=False)

loser2_ht
NaN      3831
183.0    3626
190.0    3415
185.0    3128
188.0    2856
180.0    2720
193.0    2116
178.0    1498
175.0     956
196.0     913
198.0     383
203.0     302
173.0     276
170.0     107
168.0      88
201.0      52
208.0      38
194.0      34
206.0      26
172.0      22
163.0       8
181.0       4
Name: count, dtype: int64

In [184]:
df3['loser2_ht'].isna().sum()

3831

In [187]:
#la colonna 'loser2_ht' è composta dal 14% di valori nan

---------

In [188]:
df3['loser2_ioc'].value_counts(dropna=False)

loser2_ioc
USA    2916
ESP    1800
AUS    1676
CZE    1590
FRA    1516
       ...
BAR       1
GUA       1
KEN       1
SRI       1
UNK       1
Name: count, Length: 94, dtype: int64

In [189]:
df3['loser2_ioc'].isna().sum()

12

In [ ]:
#la colonna loser2_ioc' è composta dal 0,04% di valori nan

----------

In [190]:
df3['loser2_age'].value_counts(dropna=False)

loser2_age
NaN          32
24.038330    15
32.240931    14
30.381930    14
28.024641    14
             ..
39.019849     1
25.169062     1
24.572211     1
39.652293     1
20.167009     1
Name: count, Length: 7170, dtype: int64

In [191]:
df3['loser2_age'].isna().sum()

32

In [ ]:
# loser2_age_prova=df3['loser2_age']
# loser2_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in loser2_age_prova
# ]
# loser2_age_prova

In [ ]:
# df3['loser2_age']=loser2_age_prova
# df3['loser2_age'].value_counts(dropna=False)

In [ ]:
#la colonna loser2_age è composta dallo 0,12% di valori nan

----------

In [194]:
df3['winner1_rank'].value_counts(dropna=False)

winner1_rank
1.0       840
3.0       449
8.0       436
13.0      399
4.0       394
         ...
621.0       1
1095.0      1
775.0       1
881.0       1
537.0       1
Name: count, Length: 815, dtype: int64

In [195]:
df3['winner1_rank'].isna().sum()

358

In [198]:
#la colonna 'winner1_rank' è composta dall'1,36% da valori nan

-------

In [199]:
df3['winner1_rank_points'].value_counts(dropna=False)

winner1_rank_points
0.0       595
NaN       358
180.0     100
270.0      94
90.0       89
         ...
3037.0      1
517.0       1
1351.0      1
5015.0      1
1229.0      1
Name: count, Length: 2985, dtype: int64

In [202]:
df3['winner1_rank_points'].isna().sum()

358

In [ ]:
#la colonna winner1_rank_points è composta dall'1,36% di valori nan
#in più mi incuriosiscono quei valori 0.0 all'interno della colonna in quanto non mi sembra normale che un giocatore non abbia preso dei punti in più nella classifica nonostante abbia vinto

----------

In [204]:
df3['winner2_rank'].value_counts(dropna=False)

winner2_rank
1.0      838
3.0      690
5.0      431
7.0      426
9.0      377
        ...
778.0      1
661.0      1
495.0      1
844.0      1
942.0      1
Name: count, Length: 755, dtype: int64

In [205]:
df3['winner2_rank'].isna().sum()

364

In [207]:
#la colonna winner2_rank è composta dal 1,37% di valori nan

------------

In [208]:
df3['winner2_rank_points'].value_counts(dropna=False)

winner2_rank_points
0.0       595
NaN       364
180.0      96
270.0      73
90.0       72
         ...
2706.0      1
1692.0      1
2312.0      1
1177.0      1
4295.0      1
Name: count, Length: 3021, dtype: int64

In [209]:
df3['winner2_rank_points'].isna().sum()

364

In [210]:
#la colonna winner2_rank_points è composta dal 1,37% di valori nan

------

In [211]:
df3['loser1_rank'].value_counts(dropna=False)

loser1_rank
NaN       639
1.0       260
30.0      246
13.0      243
23.0      240
         ...
1195.0      1
813.0       1
1145.0      1
1458.0      1
2057.0      1
Name: count, Length: 1166, dtype: int64

In [212]:
df3['loser1_rank'].isna().sum()

639

In [215]:
# la colonna loser1_rank è composta dal 2,4% di valori nan

--------

In [218]:
df3['loser1_rank_points'].value_counts(dropna=False)

loser1_rank_points
NaN       639
0.0       589
90.0      171
180.0     140
45.0      121
         ...
2378.0      1
4765.0      1
4405.0      1
1912.0      1
4285.0      1
Name: count, Length: 3148, dtype: int64

In [219]:
df3['loser1_rank_points'].isna().sum()

639

In [220]:
# la colonna loser1_rank_points è composta dal 2,4% di valori nan

-----------

In [222]:
df3['loser2_rank'].value_counts(dropna=False)

loser2_rank
NaN       607
15.0      265
1.0       257
3.0       250
17.0      244
         ...
1210.0      1
1450.0      1
1476.0      1
654.0       1
1929.0      1
Name: count, Length: 1127, dtype: int64

In [223]:
df3['loser2_rank'].isna().sum()

607

In [225]:
#la colonna loser2_rank è composta dallo 2,30% di valori nan

-----------

In [227]:
df3['loser2_rank_points'].value_counts(dropna=False)

loser2_rank_points
NaN        607
0.0        591
270.0      142
90.0       139
180.0      139
          ...
1938.0       1
3705.0       1
10120.0      1
1872.0       1
1534.0       1
Name: count, Length: 3177, dtype: int64

In [228]:
df3['loser2_rank_points'].isna().sum()

607

In [229]:
#la colonna loser2_rank_points è composta dallo 2,30% di valori nan

------------

In [231]:
df3['minutes'].value_counts(dropna=False)

minutes
None    21350
70        124
74        118
67        117
76        112
        ...
237         1
22          1
247         1
156         1
297         1
Name: count, Length: 193, dtype: int64

In [232]:
df3['minutes'].isna().sum()

21350

In [234]:
# la colonna 'minutes' è composta dall'81% di valori nan

----------

In [235]:
df3['w_ace'].value_counts(dropna=False)

w_ace
None    21215
3         834
2         803
4         721
1         614
5         561
0         420
6         406
7         294
8         178
9         123
10         87
11         57
12         27
13         17
15         13
14         11
17          7
18          3
16          3
19          2
20          1
27          1
21          1
Name: count, dtype: int64

In [236]:
df3['w_ace'].isna().sum()

21215

In [237]:
(21215/26399)*100

80.3628925338081

In [238]:
# la colonna 'w_ace' è composta dall'80% di valori nan

----

In [239]:
df3['w_df'].value_counts(dropna=False)

w_df
None    21215
2        1220
1        1162
3         901
0         771
4         508
5         307
6         161
7          73
8          38
9          24
10         11
12          5
11          2
13          1
Name: count, dtype: int64

In [240]:
df3['w_df'].isna().sum()

21215

In [241]:
# la colonna 'w_df' è composta dall'80% di valori nan

-----------

In [242]:
df3['w_svpt'].value_counts(dropna=False)

w_svpt
None    21215
57        165
62        162
55        162
53        159
        ...
157         1
178         1
202         1
253         1
212         1
Name: count, Length: 163, dtype: int64

In [243]:
df3['w_svpt'].isna().sum()

21215

In [244]:
# la colonna 'w_svpt' è composta dall'80% di valori nan

-------------

In [245]:
df3.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner1_id', 'winner2_id', 'winner_seed',
       'winner_entry', 'loser1_id', 'loser2_id', 'loser_seed', 'loser_entry',
       'score', 'best_of', 'round', 'winner1_name', 'winner1_hand',
       'winner1_ht', 'winner1_ioc', 'winner1_age', 'winner2_name',
       'winner2_hand', 'winner2_ht', 'winner2_ioc', 'winner2_age',
       'loser1_name', 'loser1_hand', 'loser1_ht', 'loser1_ioc', 'loser1_age',
       'loser2_name', 'loser2_hand', 'loser2_ht', 'loser2_ioc', 'loser2_age',
       'winner1_rank', 'winner1_rank_points', 'winner2_rank',
       'winner2_rank_points', 'loser1_rank', 'loser1_rank_points',
       'loser2_rank', 'loser2_rank_points', 'minutes', 'w_ace', 'w_df',
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved',
       'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon',
       'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced'],
      dtype='object')