In [138]:
import pandas as pd
import numpy as np
import seaborn as sns

## CONTROLLO NAN TABELLA atp_amateurs_matches.parquet

In [139]:
path="atp_amateurs_matches.parquet"
df=pd.read_parquet(path)

In [140]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1877-540,Wimbledon,Grass,32,G,1877-07-09,1,113987,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1877-540,Wimbledon,Grass,32,G,1877-07-09,2,114146,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1877-540,Wimbledon,Grass,32,G,1877-07-09,3,114147,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1877-540,Wimbledon,Grass,32,G,1877-07-09,4,114149,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1877-540,Wimbledon,Grass,32,G,1877-07-09,5,113953,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24996,1967-D047,Davis Cup EUR R1: NED vs RSA,Clay,4,D,1967-05-04,5,100084,None,None,...,None,None,None,None,None,None,None,None,None,None
24997,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,1,106910,None,None,...,None,None,None,None,None,None,None,None,None,None
24998,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,2,112556,None,None,...,None,None,None,None,None,None,None,None,None,None
24999,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,4,125731,None,None,...,None,None,None,None,None,None,None,None,None,None
25000,1967-D048,Davis Cup AME SF: PHI vs VIE,None,4,D,1967-04-14,5,106910,None,None,...,None,None,None,None,None,None,None,None,None,None

-------------------------------------------------------------------------------------------------------------------------

In [141]:
df["tourney_id"].value_counts(dropna=False)

tourney_id
1911-560     201
1910-560     181
1909-560     164
1912-560     158
1913-560     147
            ...
1927-D022      2
1913-D004      2
1962-D008      2
1965-D011      2
1964-D040      2
Name: count, Length: 1482, dtype: int64

In [142]:
df['tourney_id'].isna().sum()

0

---------------------------------------

In [143]:
df['tourney_name'].value_counts(dropna=False)

tourney_name
US Open                         7824
Wimbledon                       7238
Roland Garros                   3390
Australian Open                 1749
Davis Cup WG CR: USA vs AUS       44
                                ...
Davis Cup WG QF: FRA vs USA        2
Davis Cup EUR R1: IRL vs DEN       2
Davis Cup EUR QF: NED vs AUT       2
Davis Cup EUR R2: NOR vs POL       2
Davis Cup EUR R2: AUT vs IND       2
Name: count, Length: 971, dtype: int64

In [144]:
df["tourney_name"].isna().sum()

0

---------------

In [145]:
df["surface"].value_counts(dropna=False)

surface
Grass    17733
Clay      5566
None      1639
Hard        63
Name: count, dtype: int64

In [146]:
df["surface"].isna().sum()

1639

In [147]:
# circa il 6,5% della colonna surface è composto da valori nan

-------------

In [148]:
df["draw_size"].value_counts(dropna=False)

draw_size
128    14455
4       4800
64      2836
R       1582
32      1247
16        81
Name: count, dtype: int64

In [149]:
df["draw_size"].isna().sum()

0

In [150]:
#nella colonna draw_size non sono presenti valori nan ma ho notato che è presente uno strano valore "R"

-------------------------

In [151]:
df["tourney_level"].value_counts(dropna=False)

tourney_level
G    20201
D     4800
Name: count, dtype: int64

In [152]:
# non faccio il controllo con .isna().sum() dal momento che ad occhio è possibile notare l'assenza di valori nan ma (considerazione personale) mi incuriosisce solo la presenza di due sole variabili

------------------

In [153]:
df['tourney_date'].value_counts(dropna=False)

tourney_date
1911-08-01    201
1910-08-01    181
1909-08-01    164
1912-08-01    158
1913-08-01    147
             ...
1927-07-21      2
1926-05-24      2
1928-04-30      2
1900-08-08      2
1913-07-17      2
Name: count, Length: 1004, dtype: int64

In [154]:
df['tourney_date'].isna().sum()

0

------------------

In [155]:
df['match_num'].value_counts(dropna=False)

match_num
1      1482
2      1482
4      1457
5      1419
3       260
       ...
185       1
184       1
183       1
182       1
201       1
Name: count, Length: 201, dtype: int64

In [156]:
df['match_num'].isna().sum()

0

----------------

In [157]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [158]:
df["winner_id"].value_counts(dropna=False)

winner_id
100022    198
109816    153
100012    151
112007    143
112823    140
         ...
115581      1
114300      1
115727      1
115927      1
111014      1
Name: count, Length: 3329, dtype: int64

In [159]:
df["winner_id"].isna().sum()

0

---------------

In [160]:
df['winner_seed'].value_counts(dropna=False)

winner_seed
None    25001
Name: count, dtype: int64

In [161]:
#non mi preoccupo per l'elevata quantità di valori nan in quanto si riferisce a partite avvenute molti anni fa e di conseguenza è normale un'assenza di dati
#in futuro se dovessi trovare collonne che presentanno la stessa situazione senza un mio eventuale commento è perche condivide le stesse motivazioni sopraelencate

-------------------

In [162]:
df['winner_entry'].value_counts(dropna=False)

winner_entry
None    25001
Name: count, dtype: int64

---------

In [163]:
df['winner_name'].value_counts(dropna=False)

winner_name
Roy Emerson            198
E Victor Seixas        153
Nicola Pietrangeli     151
Jack Crawford          143
Bill Tilden Ii         140
                      ...
Maurice Ferrier          1
R Jagmohan               1
Wen Kelly                1
Y Das De Kapurthala      1
Andres Vatrican          1
Name: count, Length: 3268, dtype: int64

In [164]:
df['winner_name'].isna().sum()

0

------------------

In [165]:
df['winner_hand'].value_counts(dropna=False)

winner_hand
None    19362
R        4392
L         789
U         458
Name: count, dtype: int64

In [166]:
df['winner_hand'].isna().sum()

19362

In [167]:
#la colonna "winner_hand" è composta dal 77%di valori nan ma non mi sembra il caso di droppare o andare a modificare la colonna
#comunque nel caso in cui riteniate il caso di apportare delle modifiche effetuatele pure

----------------------------

In [168]:
df['winner_ht'].value_counts(dropna=False)

winner_ht
None    23109
185       450
183       357
188       332
190       248
175       180
173       162
178        80
180        65
193        10
170         5
196         3
Name: count, dtype: int64

In [169]:
df.shape

(25001, 49)

In [170]:
#la colonna "winner_ht" è formata dal 92% di valori nan

-------------

In [171]:
df['winner_ioc'].value_counts(dropna=False)

winner_ioc
USA    8119
GBR    3561
AUS    3305
FRA    1747
RSA     691
       ...
BRI       2
CRC       2
GUA       1
PAR       1
HAW       1
Name: count, Length: 82, dtype: int64

In [172]:
df['winner_ioc'].isna().sum()

0

-------------

In [173]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [174]:
df['winner_age'].value_counts(dropna=False)

winner_age
NaN          6539
23.876797      22
21.453799      21
22.562628      19
25.744011      19
             ...
38.480493       1
25.927447       1
41.719370       1
15.572895       1
46.461328       1
Name: count, Length: 5214, dtype: int64

In [175]:
# winner_age_prova=df["winner_age"]
# winner_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in winner_age_prova
# ]
# winner_age_prova

In [176]:
# df["winner_age"]=winner_age_prova
# df["winner_age"].value_counts(dropna=False)

In [177]:
#la colonna winner_age è composta dal 26% di valori nan

----------

In [179]:
df['loser_id'].value_counts(dropna=False)

loser_id
100011    63
100012    57
112631    56
109816    51
112007    50
          ..
111876     1
111884     1
111868     1
113726     1
110439     1
Name: count, Length: 6014, dtype: int64

In [180]:
df['loser_id'].isna().sum()

0

--------------

In [183]:
df['loser_seed'].value_counts(dropna=False)

loser_seed
None    25001
Name: count, dtype: int64

---------------------

In [186]:
df['loser_entry'].value_counts(dropna=False)

loser_entry
None    25001
Name: count, dtype: int64

---------

In [187]:
df['loser_name'].value_counts(dropna=False)

loser_name
Torben Ulrich         63
Nicola Pietrangeli    57
Jackie Brichant       56
E Victor Seixas       51
Jack Crawford         50
                      ..
Dd Morgan              1
Eh Diepholz            1
Malcolm D Maclagan     1
W Dermot Muspratt      1
Beyazit Anbar          1
Name: count, Length: 5877, dtype: int64

In [188]:
df['loser_name'].isna().sum()

0

------------

In [191]:
df['loser_hand'].value_counts(dropna=False)

loser_hand
None    20807
R        2849
U         916
L         429
Name: count, dtype: int64

----------

In [193]:
df['loser_ht'].value_counts(dropna=False)

loser_ht
NaN      23985
185.0      218
188.0      201
183.0      167
190.0      111
173.0       96
175.0       75
178.0       70
180.0       55
193.0       10
170.0        7
196.0        6
Name: count, dtype: int64

In [ ]:
#la colonna loser_ht è formata del 95% di valori nan

-----------

In [195]:
df['loser_ioc'].value_counts(dropna=False)

loser_ioc
USA    7611
GBR    4028
AUS    2403
FRA    1671
RSA     559
       ...
KEN       2
BER       2
UAE       2
NIG       1
DOM       1
Name: count, Length: 87, dtype: int64

In [196]:
df['loser_ioc'].isna().sum()

0

----------

In [198]:
df['loser_age'].value_counts(dropna=False)

loser_age
NaN          12538
21.659138       10
29.412731        9
25.823409        9
23.660507        9
             ...
25.538672        1
27.958932        1
33.147159        1
37.902806        1
23.195072        1
Name: count, Length: 6271, dtype: int64

In [ ]:
# loser_age_prova=df["loser_age"]
# loser_age_prova=[round(num) if not np.isnan(num) else np.nan 
#     for num in loser_age_prova
# ]
# loser_age_prova

In [ ]:
# df["loser_age"]=loser_age_prova
# df["loser_age"].value_counts(dropna=False)

In [ ]:
#la colonna loser_age è composta per il 50% di valori NaN

----------------

In [207]:
df['score'].value_counts(dropna=False)

score
W/O                     1369
6-2 6-2 6-2              153
6-1 6-2 6-2              143
6-2 6-2 6-1              142
6-1 6-1 6-2              134
                        ...
3-6 6-0 2-6 6-1 8-6        1
7-5 4-6 3-6 6-4 6-4        1
8-6 8-10 2-6 7-5 6-1       1
2-6 6-4 6-1 5-7 6-1        1
12-10 9-7 6-1              1
Name: count, Length: 8550, dtype: int64

In [208]:
df['score'].isna().sum()

35

In [ ]:
#la colonna score è composto dallo 0,14% di valori nan

--------

In [213]:
df['best_of'].value_counts(dropna=False)

best_of
5    24992
3        9
Name: count, dtype: int64

In [ ]:
#posso già notare tramite il .value_counts() che nella colonna best_of non sono presenti valori NaN ma c'è un notevole sbilanciamento tra i due valori

-------

In [215]:
df['round'].value_counts(dropna=False)

round
R128    6571
R64     5646
RR      4800
R32     3809
R16     2029
QF      1028
SF       514
PR       278
F        259
CR        67
Name: count, dtype: int64

----------

In [217]:
df['minutes'].value_counts(dropna=False)

minutes
None    25001
Name: count, dtype: int64

--------

In [219]:
df['w_ace'].value_counts(dropna=False)

w_ace
None    25001
Name: count, dtype: int64

-----------

In [221]:
df['w_df'].value_counts(dropna=False)

w_df
None    25001
Name: count, dtype: int64

-------------

In [223]:
df['w_svpt'].value_counts(dropna=False)

w_svpt
None    25001
Name: count, dtype: int64

-------

In [228]:
df['w_1stIn'].value_counts(dropna=False)

w_1stIn
None    25001
Name: count, dtype: int64

--------

In [229]:
df['w_1stWon'].value_counts(dropna=False)

w_1stWon
None    25001
Name: count, dtype: int64

-----------

In [231]:
df['w_2ndWon'].value_counts(dropna=False)

w_2ndWon
None    25001
Name: count, dtype: int64

------

In [233]:
df['w_SvGms'].value_counts(dropna=False)

w_SvGms
None    25001
Name: count, dtype: int64

------

In [235]:
df['w_bpSaved'].value_counts(dropna=False)

w_bpSaved
None    25001
Name: count, dtype: int64

------

In [237]:
df['w_bpFaced'].value_counts(dropna=False)

w_bpFaced
None    25001
Name: count, dtype: int64

-----------

In [241]:
df['l_ace'].value_counts(dropna=False)

l_ace
None    25001
Name: count, dtype: int64

-----------

In [244]:
df['l_df'].value_counts(dropna=False)

l_df
None    25001
Name: count, dtype: int64

-----------

In [249]:
df['l_svpt'].value_counts(dropna=False)

l_svpt
None    25001
Name: count, dtype: int64

--------

In [251]:
df['l_1stIn'].value_counts(dropna=False)

l_1stIn
None    25001
Name: count, dtype: int64

---------

In [253]:
df['l_1stWon'].value_counts(dropna=False)

l_1stWon
None    25001
Name: count, dtype: int64

-------

In [255]:
df['l_2ndWon'].value_counts(dropna=False)

l_2ndWon
None    25001
Name: count, dtype: int64

------

In [257]:
df['l_SvGms'].value_counts(dropna=False)

l_SvGms
None    25001
Name: count, dtype: int64

-----------

In [259]:
df['l_bpSaved'].value_counts(dropna=False)

l_bpSaved
None    25001
Name: count, dtype: int64

-----------

In [261]:
df['l_bpFaced'].value_counts(dropna=False)

l_bpFaced
None    25001
Name: count, dtype: int64

-------

In [263]:
df['l_bpFaced'].value_counts(dropna=False)

l_bpFaced
None    25001
Name: count, dtype: int64

-------

In [265]:
df[ 'winner_rank'].value_counts(dropna=False)

winner_rank
None    25001
Name: count, dtype: int64

----------

In [267]:
df['winner_rank_points'].value_counts(dropna=False)

winner_rank_points
None    25001
Name: count, dtype: int64

----------

In [269]:
df['loser_rank'].value_counts(dropna=False)

loser_rank
None    25001
Name: count, dtype: int64

--------

In [271]:
df['loser_rank_points'].value_counts(dropna=False)

loser_rank_points
None    25001
Name: count, dtype: int64

## CONTROLLO NAN TABELLA atp_rankings.parquet

In [272]:
path2="atp_rankings.parquet"
df2=pd.read_parquet(path2)
df2

        ranking_date  rank  player  points
0         1973-08-27   129  100005     NaN
1         1973-08-27   114  100011     NaN
2         1973-08-27     6  100016     NaN
3         1973-08-27    19  100022     NaN
4         1973-08-27    82  100025     NaN
...              ...   ...     ...     ...
3235634   2024-05-27  2070  211388     1.0
3235635   2024-05-27  2071  210649     1.0
3235636   2024-05-27  2071  208890     1.0
3235637   2024-05-27  2073  202079     1.0
3235638   2024-05-27  2073  207982     1.0

[3235639 rows x 4 columns]

In [276]:
df2['ranking_date'].value_counts(dropna=False)

ranking_date
2015-06-29    2271
2016-03-21    2262
2016-03-07    2261
2016-02-22    2261
2015-08-31    2259
              ...
1975-06-30      96
1977-10-03      96
1980-01-07      92
1979-04-16      78
1982-11-29      50
Name: count, Length: 2247, dtype: int64

In [277]:
df2['ranking_date'].isna().sum()

0

--------

In [279]:
df2['rank'].value_counts(dropna=False)

rank
1331    5037
1304    4167
1332    3959
1298    3936
1306    3263
        ...
2261       2
2260       2
2267       2
2262       1
2271       1
Name: count, Length: 2266, dtype: int64

In [280]:
df2['rank'].isna().sum()

0

-----------

In [282]:
df2['player'].value_counts(dropna=False)

player
103852    1331
102863    1265
103333    1231
103009    1217
103819    1203
          ...
108146       1
108153       1
108168       1
108187       1
212710       1
Name: count, Length: 16174, dtype: int64

In [283]:
df2['player'].isna().sum()

0

---------

In [285]:
df2['points'].value_counts(dropna=False)

points
1.0        509799
NaN        376080
2.0        233663
3.0        156409
4.0        122450
            ...
6025.0          1
14265.0         1
8065.0          1
5575.0          1
9960.0          1
Name: count, Length: 4532, dtype: int64

In [286]:
df2['points'].isna().sum()

376080

In [ ]:
#La colonna pointsè formata dal 11% di valori NaN

## CONTROLLO NAN TABELLA doubles_matches.parquet

In [289]:
path3="doubles_matches.parquet"

In [290]:
df3=pd.read_parquet(path3)
df3

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner1_id,winner2_id,winner_seed,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2000-301,Auckland,Hard,32.0,A,2000-01-10,300,101704,101097,1,...,None,None,None,None,None,None,None,None,None,None
1,2000-301,Auckland,Hard,32.0,A,2000-01-10,299,101704,101097,1,...,None,None,None,None,None,None,None,None,None,None
2,2000-301,Auckland,Hard,32.0,A,2000-01-10,298,101358,101543,2,...,None,None,None,None,None,None,None,None,None,None
3,2000-301,Auckland,Hard,32.0,A,2000-01-10,297,101704,101097,1,...,None,None,None,None,None,None,None,None,None,None
4,2000-301,Auckland,Hard,32.0,A,2000-01-10,296,101358,101543,2,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26394,2020-M-DC-2020-WG2-PO-MAR-VIE-01,Davis Cup WG2 PO: MAR vs VIE,Clay,4.0,D,2020-03-06,3,104917,104467,None,...,None,None,None,None,None,None,None,None,None,None
26395,2020-M-DC-2020-WG2-PO-PAR-SRI-01,Davis Cup WG2 PO: PAR vs SRI,Clay,4.0,D,2020-03-06,3,134677,137018,None,...,None,None,None,None,None,None,None,None,None,None
26396,2020-M-DC-2020-WG2-PO-PHI-GRE-01,Davis Cup WG2 PO: PHI vs GRE,Clay,4.0,D,2020-03-06,3,108717,104604,None,...,None,None,None,None,None,None,None,None,None,None
26397,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,4.0,D,2020-03-06,3,126166,126591,None,...,None,None,None,None,None,None,None,None,None,None
26398,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4.0,D,2020-03-06,3,111761,144747,None,...,None,None,None,None,None,None,None,None,None,None